body {
  background-color: #fffffa;
}
.heading-home {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: green;
  text-align: center;
}
.content {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nat-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    text-decoration: none;    
}
.table-style{
    border: 1px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
}